/* *{
    margin: 0;
} */


.header {
    background-color: #c8a2c8;
   
}
.header p{
    font-size:xx-small;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.navbar{
    text-align: center;
    margin-bottom: 20px;
   
   
}
.navbar ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: x-small;
    color: black;
   
    
}
.navbar ul li{
    display: inline-block;
    margin-top: 5px;
}
.navbar ul img{
   margin-top: 10px;
} 
.bodycontent{
    /* text-align: center; */
    margin-top: 15px;
    color: #945e94;
}
.bodycontent p{
    margin: 15px;
    /* text-align: center; */
    
    
}
.bodycontent+p{
    padding-top: 10px;
}
h3{
    padding-top: 50px;
}
button{
    background-color: black;
    color: white;
    border-radius: 50px;
}
h2{
    text-align: center;
 padding-top: 12%;
}
.footer{
    background-color: #c8a2c8;
    padding: 3px;

}
.btn-primary{
    border: 2px solid #b31bb3;
    
}
.navbar ul li:hover{
    color: #b31bb3;
    background-color: #c8a2c8;
}